.er-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, red, darkred);
    padding: 20px;
    margin-top: 0;
    top: 0;
}

.er{
    color: white;
    font-size: 60px;
}