.loginbody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, blue, violet);
}

.logincard {
    color: lightblue;
    border: 2px solid white;
    font-family: cursive;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    background-image: linear-gradient(to bottom, #333, #555);
    box-shadow: 0px 0px 50px black;
}

.h1login {
    padding-bottom: 4rem;
}

a {
    color: white;
}

button:hover {
    box-shadow: 0px 0px 10px blue;
}