body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #333, #555);
    font-family: cursive;
}

.home {
    min-height: 100vh;
    margin-top: 100px;
}

.userlist {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.notfound {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    padding-right: 5rem;
    padding-left: 5rem;
}